
body{
    margin:0px;
    padding:0px;
    font-family: "proxima-nova", sans-serif;
    font-style: normal;
    box-sizing: border-box;
}
header{
    width: 100%;
    height: 400PX;
    background-color: #f38e59;
}
nav{
    width:85% ;
    height: 80px; 
    display: flex;
    margin: auto;
    justify-content: space-between;
    
}
.nv-left img{
     height: 40px;
    
}
.nv-left{
    display: flex;
}
.nv-left ul{
    display: flex;

}
.nv-left ul li{
    list-style: none;
    margin-right: 10px;
    
}
.nv-left ul li a{
    text-decoration: none;
    color: white;
    margin: 28px;
}
.nv-right{
    margin-top: 15px;
    
}
.nv-right a{
    text-decoration: none;
    color: white;
    margin-right: 20px;
    
   
}
.nv-right a:first-child{
    font-size: 11px;
    font-weight: bolder;
    background-color:#032030 ;
    padding: 11px 15px;
    border-radius: 10px;
    
}
.nv-right a:last-child{
    font-size: 11px;
    font-weight: bolder;
    border-radius: 10px;
    border: 2px solid white;
    padding: 9px 14px;
}
.Contact h1{
    color: white;
    margin-top: 15px;
    text-align: center;
    font-style: normal;
    font-weight: normal;
    font-size:4.5em; 
    line-height: 200px;
    text-transform: uppercase;
}
.Contact p{
    text-align: center;
    margin-top: -90px;
    color:c#fffefe;
    font-size: 20px;
}
.d1 p{
    text-align:left;
    margin-top: -90px;
    color:c#595959;
    font-size: 20px;
}
.d1 h4{
    color: #6DBBDE ;
    margin-top: 20px;
    text-align: left;
    font-style: normal;
    font-weight: normal;
    font-size: 35px;
    line-height: 200px;
}
input[type=text], select {
    width: 90%;
    padding: 12px 10px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
  }
  input[type=submit] {
    width: 100%;
    color: white;
    padding: 12px 20px;
    margin: 7px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  input[type=submit]{
    background-color: #f38e59;
    width: 26%;
     float: right;
     margin-right: 53px;
  }
  textarea {
    width: 90%;
    height: 180px;
    padding: 8px 12px;
    box-sizing: border-box;
    border-radius: 4PX;
    background-color: #ffffff;
    font-size: 13px;
    resize: none;
    border: 1px solid #ccc;
    font-family: "proxima-nova", sans-serif ;
    color: #595959;
    margin: 8px 0;
    
   }
   .d3 h4{
    color: #6DBBDE ;
    margin-top: 20px;
    text-align: left;
    font-style: normal;
    font-weight: normal;
    font-size: 35px;
    line-height: 200px;
}
.d3 p{
    text-align:left;
    margin-top: -95px;
    color:c#595959;
    font-size: 20px;
}
.d3 h5{
    color: #000000 ;
    margin-top: 20px;
    text-align: left;
    font-style: normal;
    font-weight: normal;
    font-size: 30px;
    line-height: 70px;

}
.section{
    display: flex;
    margin-left: 20px;
    margin-top : 20px;
    justify-content: normal ;
  
 
}
 .section1{
    width: 90%;
    height: 80px;
    
 }

 .section2  p{
    font-family: "Roboto", sans-serif;   
    font-size: 20px;
 }
 .section1 p{
    font-family: "Roboto", sans-serif;   
    font-size: 20px;
 }
 .fb{
     display : flex;
     margin-top: 15px;
 }
 .fb p{
    margin-left: 20px;
 }
.Twitter{
     display: flex;
}

.link{
    display: flex;
}
.link p{
    margin-left: 20px;
    }
.Twitter p{
     margin-left: 20px;
}
span{
    color: #f38e59;
     }
footer{
    background-color: rgba(64, 64, 64, 1);
    margin-top: 100px;
}
.leslistes{
display: flex;
}
.liste1{
    display: flex;
    }
.liste2{
        display: flex;
 }
 .liste3{
    display: flex;
    }
.liste4{
        display: flex;
        }
.liste5{
            display: flex;
            }
.liste6{
                display: flex;
                }
.leslistes li{
color: rgb(116, 116, 116) ;
text-decoration: none;
}
.leslistes h5{
 color: rgb(252, 252, 252) ;
}
.leslistes ul li{
    list-style: none;
    margin-right: 10px;
   }
  .icons{
    color: #f38e59;
  }
  .btn{
    padding: 0.9375rem 3rem;
    width: 180px;
    font-size: 0.8em;
    border-style: none;
    border-radius: 5px;
    background-color: rgb(2 32 47);
    text-transform: uppercase;
    color: #fff;
    font-weight: 700;
    padding: 0.9375rem 2rem;
}
.btn:hover{
    background-color: #272525b4;
    border-radius: 2PX;
}
.footer-copyright{
    background-color:#333333 ;
    line-height: 0,5em;
    width: 100%;
    margin-top: -31px;
    padding: -1,5 10px;
    l
}
.copyright p{
   color:rgba(116, 116, 116, 1);  
}
.copyright a {
    text-decoration: none;
    color: #f49b6c;
}